/* Color constants */

@lighttext: #bbb;
@defaultblue: #006ee9;
@darkreddish: #871a00;
@altblue: #0073e6;
@ghost: #c4c5c8;
@geyser: #ccced1;
@onahau: #c3e0f8;
@delta: #999694;
@citrus: #a5a300;
@cloud: rgba(255, 255, 255, 0.5);
@filter-toolbar-color: rgba(55, 55, 55, 0.4) !important;
/* Other constants */

@lightpadding: 10px;
@smalltext-size: 8pt;
@large-text: 20pt;
@smallfonts: normal 0.8em "Roboto",
Arial,
sans-serif;
@ptext: Palatino,
Times;
/* Mixins */

.formtext {
  font: normal 1.0em "Roboto", Arial, sans-serif;
  color: #656565;
}

html {
  background: #669288 url('/img/main-bg.jpg') no-repeat top left;
height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans;
  font-weight: normal;
  color: #fff;
  background: transparent;
height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

div#wrapper {
  min-height: 100%;
  position: relative;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
section.main, div.main {
  margin-top: 60px !important;
}
.main-content {
  padding-bottom:109px; /* Height of the footer element */
}

/********************************************************/
/*                      Typography                      */
/********************************************************/

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fff;
  text-decoration: none;
  color: rgb(23, 24, 25);
}

p {
  &.smallprint {
    font-size: 7pt;
  }
}

h2 {
  font-family: "Roboto", Arial, sans-serif
}

#landing div.brand {
  border: 1px solid #fff;
  width: 40%;
  margin: 10% auto;
}

h1#brand-name {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(/img/main-brand.png) no-repeat;
  background-size: contain;
  width: 300px;
  height: 75px;
}

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
