nav {
	background-image: url('../img/form-bg.png');
	padding-bottom: 15px;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active {
  background-color: transparent;
  color: #fff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: transparent;
	color: #fff;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user {
	padding-top: 15px;
}

.user li a {
	color: #ccc;
}

li.sign-out a {
	color: #000;
}

li.sign-out a:hover {
	color: #777;
}