@media (min-width: 500px) {
  .navbar-nav {
    float: right !important;
  }
}
.options {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  min-height: 250px;
}

.notifications {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  min-height: 40px;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.menu {
  padding-top: 55px;
}

.margin-top {
  padding-top: 35px;
}

.submit {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.view {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submitBtn {
  width: 150px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
  border-radius: 5px;
  height: 40px;
  font-style: tangline;
  font-size: 15px;
  text-align: center;
}

.submitIcon {
  padding-top: 32px;
}

.submitClick {
  padding-top: 18px;
}

.submitAssignment {
  padding-left: 0px;
}

.viewAssignment {
  padding-right: 0px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}