section#home.main(isAuthorized ng-show="showPage")
  include ../../shared/notification
  .container-fluid
    .row
    .menu.row
      .submit.col-md-4.submitAssignment
        .options.submit
          .text-center.submitIcon
            img(src="../img/feedback-100.png")
          .text-center.submitClick
            a.submitBtn.btn.btn-default.btn-lg.text-center(href='/submit') Admin
      .col-md-4
        .options
          .text-center.submitIcon
            img(src="../img/questions-100.png")
          .text-center.submitClick
            button.submitBtn.btn.btn-default.btn-lg.text-center Need Help?
      .view.col-md-4.viewAssignment
        .options.view
          .text-center.submitIcon
            img(src="../img/report_card-100.png")
          .text-center.submitClick
            a.submitBtn.btn.btn-default.btn-lg.text-center(href='/view-assessment') View Assignments
