.container
  section#home.main(is-authorized ng-show="showPage")
    include ../../shared/admin_stamp
    include ../../shared/notification
    .container-fluid
      .row
        .menu.row
          .col-md-12
            .row
              .col-md-12
                .row.viewWrapper.blackFont All Submissions
                .row
                  table.table.blackFont
                    thead
                      tr
                        th Name
                        th Email
                        th Description
                        th date
                        th
                    tbody
                      tr(ng-repeat="submission in submitted" ng-class-odd="'oddRows'")
                        td {{submission.submitted_by}}
                        td {{submission.submitted_by_email}}
                        td {{submission.description}}
                        td {{submission.submitted_at | date:'medium'}}
                        td
                          a.submitBtn.btn.text-centerview(href="https://s3-us-west-2.amazonaws.com/studentrent-bucket/{{submission.file_url}}" target="_blank") View