.home.row
  .col-xs-12
    .container
      section#home.main
        include ../../shared/notification
        .container-fluid
          .row
            .col-md-4.col-sm-6.col-xs-12
              .boxtain
                .submit-assignment
                  img(src='../img/feedback-100.png')
                  a.btn.btn-default.btn-transparent(href='/user/submit') Submit Assignment

            .col-md-4.col-sm-6.col-xs-12
              .boxtain
                .need-help
                  img(src='../img/questions-100.png')
                  a.btn.btn-default.btn-transparent(href='/user/forum') Need Help?

            .col-md-4.col-sm-6.col-xs-12
              .boxtain
                .view-assignment
                  img(src='../img/report_card-100.png')
                  a.btn.btn-default.btn-transparent(href='') View Assignments