.container
  section#home.main()
    .container
      .row
        .col-md-8
          h2.page-header Forum
          section.comment-list
            // First Comment
            article.row(ng-repeat="question in discussions | reverse")
              .col-md-2.col-sm-2.hidden-xs(ng-init="user = findUser(question.creator_uid)")
                figure.thumbnail
                  img.img-responsive(ng-src='{{user.picture}}')
                  figcaption.text-center(style="color:black") {{question.created_by}}
              .col-md-10.col-sm-10
                .panel.panel-default.arrow.left(style="color:black;")
                  .panel-body
                    header.text-left
                      .comment-user
                        i.fa.fa-shield
                        |  {{question.title}}
                      time.comment-date
                        i.fa.fa-clock-o
                        |  {{question.created_at | date:'medium'}}
                    .comment-post
                      div {{question.text}}
                      div(style="margin-top: 10px;")
                        a.btn.btn-default.btn-sm(style="margin-right: 10px;" type='button', data-toggle='modal', data-target='#commentModal', data-value='{{question.$id}}')
                          i.fa.fa-comment
                          |  comment
                        a.btn.btn-default.btn-sm(type="button" ng-click="like(question.$id, question.likes)")
                          i.fa.fa-thumbs-o-up.fa-lg
                          span.offset-2{{question.likes}}
                        a.btn.btn-default.btn-sm(type="button" ng-click="dislike(question.$id, question.dislikes)")
                          i.fa.fa-thumbs-o-down.fa-lg
                          span.offset-2{{question.dislikes}}
              article.row(ng-repeat="comment in question.comments | reverse")
                .col-md-2.col-sm-2.col-offset-1.col-sm-offset-1.hidden-xs(ng-init="user = findUser(comment.creator_uid)")
                  figure.thumbnail
                    img.img-responsive(ng-src='{{user.picture}}')
                    //- figcaption.text-center(style="color:black") {{comment.created_by}}
                .col-md-6.col-sm-6
                  .panel.panel-default.arrow.left(style="color:black")
                    .panel-heading.right Reply
                    .panel-body
                      header.text-left
                        time.comment-date
                          i.fa.fa-clock-o
                          |  {{comment.created_at | date:'medium'}}
                      .comment-post
                        p
                          | {{comment.text}}
        .col-md-2
          button.btn-submit.btn.btn-default.page-header(type='button', data-toggle='modal', data-target='#questionModal', data-whatever='@mdo') Ask Question!
          #questionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='questionModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content(style="color:black")
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#exampleModalLabel.modal-title Ask Question
                .modal-body
                  form
                    .form-group
                      label.control-label(for='recipient-name') Title:
                      input#recipient-name.form-control(type='text' ng-model="question.title" required)
                    .form-group
                      label.control-label(for='message-text') Question:
                      textarea#message-text.form-control(ng-model="question.text" required)
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button' ng-click="askQuestion(question)" ng-disabled="askQuestion.$invalid") Submit

          #commentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content(style="color:black")
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#exampleModalLabel.modal-title Comment
                .modal-body
                  form
                    .form-group
                      label.control-label(for='message-text') Comment:
                      textarea#message-text.form-control(ng-model="comment.text" required)
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button' ng-click="saveComment(comment)" ng-disabled="saveComment.$invalid") Submit
 