doctype html
html(lang="en" ng-app="Cognitio")
  head
    title Cognitio
    link(rel='shortcut icon', href='cognitio_fav.ico', type='image/x-icon')
    include shared/head
  body(layout="row" layout-fill)
    #wrapper
      .main-content.no-bg(layout="row" layout-fill ui-view)
      include shared/footer

