doctype html
html(lang="en" ng-app="Cognitio")
  head
    title Cognitio
    include shared/head
  body(layout="row" layout-fill)
    #wrapper
      include shared/header
      .main-content.no-bg(layout="row" layout-fill ui-view)
      include shared/footer

