footer.group
  .container-fluid
    p.copy Cognitio &copy; 2015
    ul
      li Contact Us
      li Terms and Conditions
      li FAQ
    p
      | Powered by
      a(href="http://andela.co")  Andela
