.container
  section#landing.main
    section#head.section
      .row
        .col-sm-9.col-md-7.col-lg-5.col-sm-offset-2.col-md-offset-3.col-lg-offset-4.text-center.box
          h1#brand-name Cognitio
          p.tagline.italic ... because it's good to get accessed
          .login
            p
              a.btn.btn-default.btn-lg(ng-click="login()") LOGIN
            p Login with your Andela email address