section#landing.main
  section#head.section
    .row
      .col-lg-12
          .col-sm-8.col-md-6.col-lg-4.col-sm-offset-2.col-md-offset-3.col-lg-offset-4.text-center.box
            h1#brand-name Cognitio
            p.tagline.italic ... because it's good to get accessed
            .login
              p
                a.btn.btn-default.btn-lg(ng-click="login()") LOGIN
              p Login with your Andela email address.
