section#home.main(is-authorized="")
  include ../shared/notification
  .container-fluid
    .row
      .menu.row
        .col-md-12
          .row
            .col-md-12
              .row.viewWrapper.blackFont All Submissions
              .row
                table.table.blackFont
                  thead
                    tr
                      th Name
                      th Email
                      th Description
                      th date
                      th
                  tbody
                    tr(ng-repeat="submission in submitted" ng-class-odd="'oddRows'")
                      td {{submission.submitted_by}}
                      td {{submission.submitted_by_email}}
                      td {{submission.description}}
                      td {{submission.submitted_at | date:'medium'}}
                      td
                        a.submitBtn.btn.text-centerview(href="https://s3-us-west-2.amazonaws.com/studentrent-bucket/{{submission.file_url}}?X-Amz-Date=20150508T194728Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ce3bbdf740c2d769201fe580042e97d6c882f2bec2c388bead21c0de3187e413&X-Amz-Credential=ASIAJLVGLXMWOFRIRJJA/20150508/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDUakALxVVTkk5d48SvIGiRusIM%2BWyhGnPGirmnUwliWutwJs82Nsrexh0Term0d/2/daeHtK7Nolqf8sI/AMa6BYR6owTPCk27T0GKEiUtzQ2bF98cY3qoRHtINS0X9x1c8phvxuRf4kBUk9Lh0lowIkKFiVSWFXMlD4qc9HLbRVCNMB4GawnXWwF9ZzFRzTloBvEgLyHBOwcmgaqSrRMuJGLP67xMRBWK/buFNObdWkEarBre/mUcqcZEonXxlgyaKlG%2BLattlHRDjtL9xZYioxw1VdXvti7aKvFzkNX5aSieW55FhiXTGR3wiPfYKwNXhTgBEhfUOSXhK0v62XM92wMs6pv79rAJLwXmEJF37jO3A4yCVorSqBQ%3D%3D" target="_blank") View

